

<h4>Search for photo by metadata</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            
            
            <div class="form-group">
                <label for="CaptureBy" class="control-label">Search creator</label>
                <input for="CaptureBy" class="form-control" />
                
            </div>
            
                
            
            <div class="form-group">
                <label for="Tags" class="control-label">Search Tags</label>
                <input for="Tags" class="form-control" />
                
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


