@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    CMPG 323 Project 2<br />
    S. Strydom, 24306223<br />
    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:24306223@student.g.nwu.ac.za">24306223@student.g.nwu.ac.za</a><br />
    
</address>
